@import '../../styles/global.scss';

.home {
    overflow: hidden;

    &__hero {
        background-image: url('../../assets/images/kenny-luo-YNA57JvDmIw-unsplash.jpg'), linear-gradient(rgba(5, 5, 5, 0.25), rgba(5, 5, 5, 0.25));
        background-size: cover;
        background-blend-mode: overlay;
        padding: 0 6vw;
        height: 35vh;
        width: 100%;
        background-position: center center;
        
        @include tablet {
            background-image: url('../../assets/images/jennifer-chen-aB3wYypke8M-unsplash.jpg'), linear-gradient(rgba(5, 5, 5, 0.4), rgba(5, 5, 5, 0.4));
            height: 55vh;
            width: 100%;
            background-position: center center;
        }

        @include desktop {
            background-image: url('../../assets/images/victor-ballesteros-WxssigXyFgM-unsplash.jpg'), linear-gradient(rgba(5, 5, 5, 0.4), rgba(5, 5, 5, 0.4));
            height: 55vh;
            width: 100%;
            background-position: center center;
        }
        
        &-title {
            color: $secondary-font-colour;
            margin: 0;
            padding: 2vh 0;
            font-size: 1.5rem;

            @include tablet{
                font-size: 2rem;
                padding: 4vh 0;
            }

            @include desktop {
                font-size: 2.5rem;
                padding: 20vh 0 4vh 0;
            }
        }

        &-blurb {
            color: $secondary-font-colour;
            margin: 0;
            font-size: 1rem;
            width: 40vw;

            @include tablet{
                font-size: 1.25rem;
            }

            @include desktop{
                width: 35vw;
            }
        }
    }

    &__main {
        
        &-login {
            
            height: 40vh;
            padding: 2vh 6vw 4vh 6vw;

            @include tablet {
                height: 30vh;
            }

            @include desktop {
                height: 29vh;
            }

            &-description {

                @include desktop {
                    font-size: 1.25rem;
                }
            }

            &-link {
                position: relative;
                margin: 0 29vw;

                @include tablet {
                    margin: 0 35vw;
                }

                @include desktop {
                    margin: 0 40vw;
                }

                &-button {
                    @include CTA-button;
                }
            }
        }

        &-animals {
            padding: 2vh 6vw;
            background-color: $background-colour-one;

            &-intro {

                @include desktop {
                    font-size: 2rem;
                }
            }
            

            &-options {

                @include tablet {
                    display: flex;
                    justify-content: space-between;
                }    
            }

            &-card {
                background-color: $background-colour-two;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border-radius: 5px;
                padding: 2vh 0;
                margin: 2vh 0;
                

                @include tablet {
                    width: 27vw;
                }

                &-image {
                    width: 80vw;
                    border-radius: 5px;

                    @include tablet {
                        width: 22vw;
                        height: 22vw;
                    }

                    @include desktop {
                        width: 24vw;
                        height: 24vw;
                    }
                }

                &-title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 1vh 0;

                    @include tablet {
                        font-size: 1.25rem;
                    }

                    @include tablet {
                        font-size: 1.5rem;
                    }
                }

                &-link {

                    &-button {
                        @include CTA-button;
                    }
                }
            }
        }
    }
}