@import '../../styles/global.scss';

.home {
    overflow: hidden;

    &__hero {
        background-image: url('../../assets/images/dong-cheng-0yAGGlSg9Oc-unsplash.jpg'), linear-gradient(rgba(5, 5, 5, 0.25), rgba(5, 5, 5, 0.25));
        background-size: cover;
        background-blend-mode: overlay;
        padding: 0 6vw;
        height: 38vh;
        width: 100%;
        
        @include tablet {
            background-image: url('../../assets/images/dong-cheng-0yAGGlSg9Oc-unsplash.jpg'), linear-gradient(rgba(5, 5, 5, 0.25), rgba(5, 5, 5, 0.25));
        background-size: cover;
        background-blend-mode: overlay;
        padding: 0 6vw;
        height: 38vh;
        width: 100%;
        }
        
        &-title {
            color: $secondary-font-colour;
            margin: 0;
            padding: 2vh 0;
            font-size: 1.5rem;
        }

        &-blurb {
            color: $secondary-font-colour;
            margin: 0;
            font-size: 1rem;
            width: 50vw;
        }
    }
}