@import './variables';

//responsive design breakpoints
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin link {
    text-decoration: none;
}

@mixin general-padding {
  padding: 0 6vw;
}

@mixin box-shadow {
  box-shadow: 2px 5px 5px $background-colour-five;
}

@mixin h1 {
  color: $secondary-font-colour;
  margin: 0;
  font-size: 1.5rem;

  @include tablet{
      font-size: 2rem;
  }

  @include desktop {
      font-size: 2.5rem;
  }
}

@mixin hero-image {
  background-size: cover;
  background-blend-mode: overlay;
  padding: 0 6vw;
  height: 35vh;
  width: 100%;
  background-position: center center;
  
  @include tablet {
      height: 55vh;
      width: 100%;
  }

  @include desktop {
      height: 55vh;
      width: 100%;
  }
}

@mixin CTA-button {
  position: relative;
  background-color: $background-colour-four;
  border: 2px solid $background-colour-five;
  border-radius: 5px;
  height: 5vh;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
      background-color: $background-colour-three;
  }
}

@mixin cancel-button {
  position: relative;
  background-color: $secondary-font-colour;
  border: 2px solid $background-colour-five;
  border-radius: 5px;
  height: 5vh;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
      background-color: $background-colour-five;
      color: $background-colour-three
  }
}

@mixin input-format {
  border: 1px solid $background-colour-five;
  border-radius: 5px;
  outline: none;
  height: 3vh;
  padding: 0 2vw;

  &:focus {
      border: 2px solid $background-colour-four;
  }

  @include desktop {
    padding: 0 1vw;
    height: 4vh;
  } 
}
