//responsive design breakpoints
@mixin tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin link {
    text-decoration: none;
}