$primary-font-colour: black;
$secondary-font-colour: white;

$background-colour-one: #cbdfc6;
$background-colour-two: #527571;
$background-colour-three: #facc5c;
$background-colour-four: #fcaa44;
$background-colour-five: #33150b;