@import '../../styles/global.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-colour-three;
    padding-bottom: 2vh;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5vw;
        padding-bottom: 0;
    }
    
    &__logo{
        font-size: 2rem;
        font-weight: 800;
        @include link;
        
        &-name {
            margin: 1.5vh 0;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @include tablet {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        
        &-link {
            margin: 0 8vw;
            @include link;

            @include tablet {
                margin: 0 1vw;
            }

            // &--active {
            //     background-color: #b2c4aa;
            // }

            &-text {
                margin: 0.5vh 0;
                font-weight: 600;
            }
        }
    }
}